[user]
	name = Nicolas Gaillard
	email = nicolaz.gaillard@gmail.com
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[core]
	excludesfile = ~/.gitignore
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
[color]
	branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto
    ui = true
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = red
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = current
[credential]
	helper = osxkeychain
[core]
    autocrlf = input
    pager = less -FRSX
[web]
	browser = google-chrome